<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">
    <h1>Room: <%= @room.name %></h1>

    <p>
      <strong>Description:</strong>
      <%= @room.description %>
    </p>

    <p>
      <strong>Time zone:</strong>
      <%= @room.time_zone %>
    </p>

    <!-- <%= link_to 'Edit', edit_room_path(@room) %> | -->
    <%= link_to 'Back', rooms_path %>
  </div>
</div>
